
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #14838b;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
}

header {
    background-color: #62d3c8;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #a279b9;
    padding: 10px;
}

main {
    display: grid;
    grid-template-columns: 100px auto 100px 45px 2fr;
    grid-auto-rows: min-content;
    grid-gap: 10px;

}

section {
    display: contents;
}
